# ==============================================================================
# Hidden and Temporary Files
# ------------------------------------------------------------------------------

!.gitignore
*~
.*.swp
.*.swo

# ==============================================================================
# Log Files
# ------------------------------------------------------------------------------

logs
*.log
npm-debug.log*

# ==============================================================================
# OS Specific Temporary Files
# ------------------------------------------------------------------------------

.DS_Store
Thumbs.db

# ==============================================================================
# Node Modules
# ------------------------------------------------------------------------------

node_modules
package-lock.json

# ==============================================================================
# rc Files
# ------------------------------------------------------------------------------

.reviewboardrc

# ==============================================================================
# Sublime Files
# ------------------------------------------------------------------------------

*.sublime-workspace

# ==============================================================================
# JSDoc
# ------------------------------------------------------------------------------

out

# ==============================================================================
# Bin
# ------------------------------------------------------------------------------

bin

# ==============================================================================
# Testing Output
# ------------------------------------------------------------------------------

tests/testOutput.js
